# no .pyc files
*.pyc
*.pyo
*.swp

# no files ends with ~
*~

# no .bak.py .bak .log
*.bak.py
*.bak
*.log

# no DS_Store file
.DS_Store

# ignore all files in the backup/ directory
backup/

# ignore local environment file
.env

# project specific ignore
developing_modules
site_config.py
pippo.*
Dockerfile.tiangolo

